/*Landing Page*/
/*hides all skill button on smaller screens*/
@media (max-width: 576px){
    #dropdown-button {
        display: none
    }
}

#skill-icons div:hover{
    scale: 1.2;
}

#profile-card:hover{
    scale: 1.1;
}