#background-about-me, #pricing {
    background-color: var(--cusDarkGrey);
    border: 1mm ridge var(--cusOffBlack);
}

#profile-image{
    background-color: var(--cusLightGrey)
}

.profile-skills {
    background-color: var(--cusyellow);
    border: solid 2px var(--cusOffBlack);
}

#portfolio-image:hover {
    border-color: black;
    align-self: center;
    transform: scale(2)
}

#portfolio-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

#profile-name, #skills-name, #pricing,  #about-me-text, #email-text {
    text-shadow: 2px 2px var(--cusOffBlack);
}

#pricing {
    min-height: 250px;
}