#category-container, #about-me-setting, #price-setting, #user-name-setting, #portfolio-setting, #image-upload-form {
    background-color: var(--cusDarkGrey);
    border: 1mm ridge var(--cusOffBlack);
    color: White
}

#changes-button{
    background-color: var(--cusyellow);
    color: var(--cusOffBlack);
    border: 1mm ridge var(--cusOffBlack)
}

#changes-button:hover{
    background-color: var(--cusOffBlack);
    color: white;
}