#sign-in-form {
    background-color: var(--cusDarkGrey) !important;
}

#sign-up {
    text-shadow: 2px 2px var(--cusOffBlack);
}

#sign-in-submit{
    background-color: var(--cusLightGrey);
    color: var(--cusOffBlack);
}