#user-info-setting, #category-container, #portfolio-redirect-container {
    background-color: var(--cusDarkGrey);
    border: 1mm ridge var(--cusOffBlack);
    color: White
}


#about-me-setting, #price-setting, #user-name-setting, #portfolio-setting {
    background-color: var(--cusLightGrey)!important;
    border: 1mm ridge var(--cusOffBlack);
    color: var(--cusOffBlack)!important;
}

#changes-button{
    background-color: var(--cusyellow);
    color: var(--cusOffBlack);
    border: 1mm ridge var(--cusOffBlack)
}

#changes-button:hover{
   background-color: var(--cusOffBlack);
    color: white;
}